<h1>Comments for {{post.title}}</h1>

<form ng-submit="createComment()">

  <div class="form-group">
    <label for="content">New Comment</label>
    <textarea class="form-control" id="content" ng-model="comment.content"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>

<br>
<br>

<div class="well" ng-show="Auth.isLoggedIn()" ng-repeat="comment in comments">
  {{comment.content}}
<!--   <a href="/allposts" ng-click="deleteComment(comment._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"> Delete</a>
 -->
   
 </div>

<a href="/posts/{{post.id}}" class="btn btn-primary">&larr; Back to Post</a><br>
<a href="/myposts" class="btn btn-primary">&larr; Back to All Posts</a>