<h1>Edit Post</h1>

<form ng-submit="updatePost(post.id)">

  <div class="form-group">
    <!-- <label for="title">{{post.title}}</label> -->
    <input type="text" class="form-control" id="title" ng-model="post.title">
  </div>
  <div class="form-group">
    <!-- <label for="content">{{post.content}}</label> -->
    <textarea class="form-control" id="content" ng-model="post.content"></textarea>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>

<a href="/posts/{{post.id}}" class="btn btn-primary">&larr; Back to Post</a><br>
<a href="/allposts" class="btn btn-primary">&larr; Back to All Posts</a>

