<div ng-show="Auth.isLoggedIn()"> 
  <h1>{{post.title}}</h1>
<!--   <h2>by: {{user.name}} </h2>-->  
<div class="well">
    <p>
      {{post.content}}
    </p>
  </div>
</div>

<a href="/myposts" ng-click="deletePost(post._id, $index)" class="btn btn-danger glyphicon glyphicon-trash pull-right"> Delete</a>
<a ng-href="/posts/edit/{{post.id}}" class="btn gold glyphicon glyphicon-pencil pull-right"> Edit</a>
<a href="/myposts" class="btn blue">&larr; Back to My Post </a>

<h2>Comments</h2>

<form ng-submit="createComment()">

  <div class="form-group">
    <label for="content">New Comment</label>
    <textarea class="form-control" id="content" placeholder="your thoughts here!" ng-model="comment.content"></textarea>
  </div>

  <button type="submit" class="btn btn-success pull-right">Submit</button>
</form>

<br>
<br>

<div class="well" ng-show="Auth.isLoggedIn()" ng-repeat="comment in comments track by $index">
  <p>
  {{comment.content}}
  </p>
</div>


