body {
  padding-top: 80px;
  width: 100%;
}

/*navbar from codepen*/
nav {
  min-height: 60px;
  background-image: url("../assets/planks.jpeg");
  background-attachment: static;
  background-size: cover;
}

.navbar li{
  background: rgba(255, 255, 255, 0.5);
}

span.frosted {
  background: rgba(255, 255, 255, 0.5);
}

nav a {
  font-size: 18px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  transition: all 0.3s ease;
}

nav.navbar-brand {
  font-size: 30px;
  padding-bottom: 20px;

}

nav #logo{
  height: 50px;
  transition: all 0.3s ease;
  padding-bottom: 10px;
}

nav.navbar-toggle {
  margin: 13px 15px 13px 0;
}

nav.navbar-header.shrink {
  min-height: 35px;
}

nav.navbar.shrink #logo{
  height: 30px;
}

nav.navbar.shrink a {
  font-size: 15px;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

nav.navbar.shrink.navbar-brand {
  font-size: 25px;
}

nav.navbar.shrink.navbar-toggle {
  margin: 8px 15px 8px 0;
  padding: 4px 5px;
}

/*main page jumbotron*/
.jumbotron {
  background-image: url('../assets/desk1.jpeg');
  background-size: cover;
  color: white;
  margin-bottom: 0 !important;
  overflow: hidden;
  padding-top: 10em !important;
  padding-bottom: 12em !important;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0,0,0,.4);
  z-index: 9999;
}

/*posts input*/
.form-control{
  border-width: 1px; 
  border-color: #EBEBEB;
  box-shadow: none;
  border-radius: 0px;

}   

/*removing glow*/
.form-control:focus {
  border-color: gainsboro;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: -webkit-focus-ring-color gainsboro 1px;
  border-radius: 0px;

}

button.gray {
  background-color: gainsboro;
}

.formsy {
  margin-top: 75px;
}

.well {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0px;
}

/*button colors*/

.blue {
  background-color: lightskyblue;
  color: dimgrey;
}

.gold {
  background-color: ;
  color: dimgrey;

}